@tailwind base;
@tailwind components;
@tailwind utilities;

/* season swiper  */
.swiper-button-next,
.swiper-button-prev {
    position: absolute !important;
    padding: 35px;
    margin: 10px;

    background-color: rgba(20, 21, 22, 0.95);
    color: white !important;
    transform: translateY(-30%) scale(0.5);
    border-radius: 100%;
}
.swiper-button-next,
.swiper-button-prev {
    box-shadow: 1px 1px 20px #000 !important;
    background-color: rgba(33, 37, 41, 0.5) !important;
}

@media (max-width: 640px) {
    .swiper-button-next {
        right: -20px !important;
    }
    .swiper-button-prev {
        left: -20px !important;
    }
}
@media (min-width: 1280px) {
    .swiper-button-next {
        right: -15px !important;
    }
    .swiper-button-prev {
        left: -15px !important;
    }
}
